@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

.center-max {
  height: auto;
  max-width: 100%;
  text-align: center;
}

.hide-under-750 {
  display: none;

  @include breakpoint(750px) {
    display: block;
  }
}

// ====================
// Gallery
// ====================
#t-gallery {
  .testimonials {
    position: relative;
  }

  .testimonial {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: none;
  }

  .testimonial:nth-child(3n + 1) {
    display: block;
  }

  img.full {
    display: none;
    position: absolute;
    left: calc(100% + 80px);
  }
}
